<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="k3_hx_connstr" connectionString="Data Source=172.16.10.10;Database=IT_MES;UID=sa;Pwd=Ll1987;" providerName="System.Data.SqlClient" />
    <!--<add name="mes_connstr" connectionString="Data Source=172.18.10.32;Database=davos_report;UID=mes_query;Pwd=GZtws@mes;SslMode=none;" providerName="System.Data.SqlClient" />-->
    <add name="mes_connstr" connectionString="Server=172.18.10.32;Port=3306;SslMode=none;Database=davos_report; User=mes_query;Password=mes_query;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpRuntime maxRequestLength="102400" executionTimeout="720" />
  </system.web>
  <system.codedom>
    <compilers>

    </compilers>
  </system.codedom>
  <system.data>
    
  </system.data>
</configuration>